body {
    font-family: "Kaisei Decol", serif;
    /* kaisei-decol-regular */
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

/* ヘッダー */
header {
    background-color: #FFF323;
    height: 50px;
}

.site-header {
    font-size: 1.8rem;
    /*LAB18だから！気付いてくれた人はサイコー！その１*/
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* メイン */
main {
    flex: 1;
    text-align: center;
    margin: auto;
}

.menu-container {
    margin-top: 50px;
    font-size: 1.2rem;
}

.greeting{
    margin-top:20px;
    font-weight: bold;
}
/* ユーザー関連 */
.user_icon{
    width:200px;
    height:auto;
    margin: 20px;
}
.user-prof{
    display: flex;
    flex-direction: column;
}

/* カレンダー用 */
.calender-container {
    position: fixed;
    left: 20px;
    top: 50px;
}

.today {
    background: rgba(245, 213, 154, 0.6) !important;
}

th:nth-of-type(1),
td:nth-of-type(1) {
    color: red;
}

th:nth-of-type(7),
td:nth-of-type(7) {
    color: blue;
}

/* ポップアップ用 */
#popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
    /* 追加 */
}

#popup-inside {
    text-align: center;
    width: 100%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
}

#close {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.popup-content {
    transition: display 0.3s ease;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
}

/* メインで見える目標用 */
.target {
    position: fixed;
    left: 20px;
    top: 350px;
}

/* メインのヘルプ用 */
.help {
    position: fixed;
    right: 25px;
    top: 80px;
}

.help-s {
    font-size: 0.5rem;
}

/* フッター */
footer {
    /* position:fixed; */
    bottom: 0;
    display: flex;
    justify-content: center;
}


/* 全体に適用 */
a {
    text-decoration: none;
    color: rgb(18, 18, 18);
    /*LAB18だから！気付いてくれた人はサイコー！その２*/
}

button {
    border: none;
    font-family: "Kaisei Decol", serif;
    font-size: 1rem;
    font-style: normal;
    cursor: pointer;
}

textarea {
    resize: none;
}

input {
    height: 24px;
}

.form-group {
    margin: 5px;
}